KATAGO_ENABLED=true
KATAGO_BINARY=/app/katago/katago
KATAGO_CONFIG=/app/katago/analysis.cfg
KATAGO_MODEL=/app/katago/model.bin.gz
KATAGO_OVERRIDE_CONFIG=logToStderr=true,logFile=/tmp/katago.log
KATAGO_TIMEOUT_SEC=20
KATAGO_MAX_REQUESTS_PER_MINUTE=30
KATAGO_APPIMAGE_EXTRACT_AND_RUN=true
CORS_ALLOW_ORIGINS=https://igobanlab.web.app;https://igobanlab.firebaseapp.com;http://localhost:5173
